body {
  font-family: 'Noto Sans', 'sans-serif';
  color: #0A0A28;
}

/*body::after {
  content: "";
  background-image: url("./images/nice-rain.jpg");
  background-size: cover;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}*/

.App {
  text-align: center;
}

h1 {
  margin: 0;
  background-color: #005EB8;
  color: white;
}

#mapbox {
  margin-left: 35vw;
  margin-top: 5vh;
  margin-bottom: 6vh;
  margin-right: 5vw;
}
